<mat-toolbar color="primary" fxLayoutGap="8px">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon svgIcon="lemon"></mat-icon>
  <a mat-button routerLink="/home">
    <h1>LemonMart</h1>
  </a>
  <span class="flex-spacer"></span>
  <button routerLink="/user/profile" mat-mini-fab matTooltip="Profile"
    aria-label="User Profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button routerLink="/user/logout" mat-mini-fab matTooltip="Logout"
    aria-label="User Logout">
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
